<!DOCTYPE html>
<html lang="en">
<head>
  <%= render Diskusi.SharedView, "meta.html", conn: @conn  %>

  <title>Diskusi</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/styles.css") %>">
</head>

<body>
  <%= render Diskusi.SharedView, "header.html", conn: @conn  %>

  <%= render Diskusi.SharedView, "alert.html", conn: @conn %>

  <main role="main">
    <%= render @view_module, @view_template, assigns %>
  </main>

  <%= render Diskusi.SharedView, "footer.html", conn: @conn  %>
</body>
</html>
